/* Add CSS Styling */
.odd {
   color: rgb(0, 0, 0);
   background-color: rgb(255, 0, 82); 
   font-family: "Verdana", "dejaVu Sans", "sans-serif";
}
.third {
    font-size: 24px;
}
#two {
    color: rgb(65, 130, 209);
    font-size: 36px;
}
#four {
    color: rgb(0, 0, 0);
    background-color: rgb(116, 230, 150);
    font-size: 24px;
    font-weight: bold;
}

