body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 10px 10px 10px 10px;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom:10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom:10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
}